@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?s7if3n')
  src:  url('../fonts/icomoon.eot?s7if3n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s7if3n') format('truetype'),
    url('../fonts/icomoon.woff?s7if3n') format('woff'),
    url('../fonts/icomoon.svg?s7if3n#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-spades:before
  content: "\e917"

.icon-clubs:before
  content: "\e918"

.icon-diamonds:before
  content: "\e919"
